/* 改变主题色变量 */
// $--color-primary: $themeColor !default;
$--color-primary: $secondThemeColor !default;
$--color-success: $successColor !default;
$--color-warning: $warningColor !default;
$--color-danger: $errorColor !default;
// $--color-info: #ACB3BE !default;
$--border-color-base: $invalidColor !default;

$--color-text-regular: $mainTextColor !default;
$--color-text-placeholder: $invalidColor !default;
$--color-black: #0C192D !default;

// 字体颜色
$fontColor: #0C192D !default;

// 高度
$inputHeight: 32px !default;

$size: 14px;


/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
