$menuBgColor:  #FFF; // 左侧菜单背景色
$menuTextColor: #525966; // 左侧菜单文字色
$menuHoverTextColor: #525966; // 左侧菜单hover文字色
$menuActiveTextColor: #FFFFFF; // 左侧菜单active文字色
$menuHoverBgColor: rgba(151, 144, 144, .2); // 左侧菜单hover背景色
$menuActiveBgColor: #D20A10; // 左侧菜单active背景色

$mainTextColor: #2B3341; // A1 主要文字色
$secondTextColor: #525966; // A2 次要文字色
$thirdTextColor: #79808C; // A3 辅助文字色

$lineColor: #79808C; // A4 提示/线图标（多数）
$lineShallowColor: #D1D6DE; // A5 提示/线图标（少数）
$borderColor: #D6DBE4; // A6 边框色
$splitLineColor: #ECEFF5; // A7 分割线色

$bgColor: #F6F8FB; // A8 浅背景灰色
$shallowBgColor: #F9FAFC; // A9 浅背景灰色
$hoverBgColor: #F7F9FE; // A0 hover背景色
$treeActiveColor: rgba(210, 10, 16, .04); // 文件树选中颜色

$themeColor: #D20A10; // B1 第一主题色
$secondThemeColor: #D25B5B; // B1 第二主题色
$secondaryColor: rgba(210, 10, 16, .6); // B2 第一主题色辅色
$tipsBgColor: #FFFBFB; // tips背景色

$commonColor: #0089FF; // C1 状态一般蓝色、链接
$successColor: #20C551; // C2 成功色
$warningColor: #FFB000; // C3 警告色
$errorColor: #F72C19; // C4错误色
$invalidColor: #ACB3BE; // C5 失效色、提示/线图标色

$mainBgColor: #F1F2F5; // D1 主背景灰色
